

.config-box {
    width: 100%;  min-height: 200px;  padding: 1rem;

        .user-name {
            width: 100%; min-height: 60px; margin-bottom: 1rem;
            h5 {
                font-size: 1.2em; font-weight: bold; padding-bottom: 1rem;
            }
            .input-box {
                display: flex; height: 24px; width: 60%; height: 100%;
                @media screen and (max-width: 600px) { 
                    width: 90%
                }

                .box {
                    width: 50%; margin-right: 2%; display: flex;
                    input { 
                        width: 80%; padding-left: 0.5em; box-sizing: content-box;
                        border: 1px solid #000; border-radius: 3px;
                    }
                    textarea{
                        width: 80%; padding-left: 0.5em; box-sizing: content-box; padding-top: 0.5em;
                        border: 1px solid #000; border-radius: 3px; resize: none; 
                    }

                    button { 
                        width: 20%;
                        border: 1px solid #000;  border-radius: 3px;
                        font-size: 0.8rem; margin-left: 1em;
                        font-weight: bold;   
                         color: #fff;
                        background-color: #0d6efd;
                        border-color: #0d6efd;
                        &:hover {
                            background-color: #0065fd;
                        }
                    }
                }
            }

            .textarea-box {
                display: flex; height: 24px; width: 100%; height: 100%;
                padding: 20px 0;
                @media screen and (max-width: 600px) { 
                    width: 90%
                }

                .box {
                    width: 100%; margin-right: 2%;
                    input { 
                        width: 80%; padding-left: 0.5em; box-sizing: content-box;
                        border: 1px solid #000; border-radius: 3px;
                    }
                    textarea{
                        width: 80%; padding-left: 0.5em; box-sizing: content-box; padding-top: 0.5em;
                        border: 1px solid #000; border-radius: 3px; resize: none; 
                    }

                    button { 
                        width: 20%; height: 30px;
                        border: 1px solid #000;  border-radius: 3px;
                        font-size: 0.8rem;
                        font-weight: bold;   
                         color: #fff;
                        background-color: #0d6efd;
                        border-color: #0d6efd;
                        &:hover {
                            background-color: #0065fd;
                        }
                    }
                }
            } 
            .add-list {
                width: 100%; min-height: 80px; margin-top: 15px;

                span {
                    font-size: 14px; display: block;
                    button {
                        color: #0d6efd;
                    }
                }

            }

        } // user-name


        .chat-phase-input {
            width: 100%; min-height: 60px; margin-bottom: 1rem;
            h5 {
                font-size: 1.2em; font-weight: bold; padding-bottom: 1rem;
            }
            .input-box {
                display: flex; height: 24px; width: 60%; height: 100%;
                @media screen and (max-width: 600px) { 
                    width: 90%
                }

                .box {
                    width: 50%; margin-right: 2%; display: flex;
                    input { 
                        width: 80%; padding-left: 0.5em; box-sizing: content-box;
                        border: 1px solid #000; border-radius: 3px;
                    }

                    button { 
                        width: 20%;
                        border: 1px solid #000;  border-radius: 3px;
                        font-size: 0.8rem; margin-left: 1em;
                        font-weight: bold;   
                         color: #fff;
                        background-color: #0d6efd;
                        border-color: #0d6efd;
                        &:hover {
                            background-color: #0065fd;
                        }
                    }
                }
            }

            .textarea-box {
                display: flex; height: 24px; width: 100%; height: 100%;
                padding: 20px 0;
                @media screen and (max-width: 600px) { 
                    width: 90%
                }

                .box {
                    width: 100%; margin-right: 2%;
                    input { 
                        width: 80%; padding-left: 0.5em; box-sizing: content-box;
                        border: 1px solid #000; border-radius: 3px;
                    }
                    textarea{
                        width: 80%; padding-left: 0.5em; box-sizing: content-box; padding-top: 0.5em;
                        border: 1px solid #000; border-radius: 3px; resize: none; 
                    }

                    button { 
                        width: 20%; height: 30px;
                        border: 1px solid #000;  border-radius: 3px;
                        font-size: 0.8rem;
                        font-weight: bold;   
                         color: #fff;
                        background-color: #0d6efd;
                        border-color: #0d6efd;
                        &:hover {
                            background-color: #0065fd;
                        }
                    }
                }
            } 
            .add-list {
                width: 100%; min-height: 80px; margin-top: 15px;

                .list-index {
                    font-size: 14px; display: inline-block; min-width: 100px; padding-right: 5px;
                    padding-bottom: 3px;
                    .list-index-text {
                        width: 94%;  height: 18px; padding-right: 1%;
                        display: block; overflow: hidden; float: left;
                        white-space: nowrap; text-overflow:ellipsis;
                    }
                    button {
                        width: 5%; color: #0d6efd;
                    }
                }
            }
        } // chat-phases
       

        .user-chatbot {

            width: 100%; min-height: 60px; margin-bottom: 1rem;
            h5 {
                font-size: 1.2em; font-weight: bold; padding-bottom: 1rem;
            }

            .input-box {
                display: flex; height: 24px; width: 60%; height: 100%;
                @media screen and (max-width: 600px) { 
                    width: 90%
                }

                .box {
                    width: 50%; margin-right: 2%; display: flex;
                    input { 
                        width: 80%; padding-left: 0.5em; box-sizing: content-box;
                        border: 1px solid #000; border-radius: 3px;
                    }
                    button { 
                        width: 20%;
                        border: 1px solid #000;  border-radius: 3px;
                        font-size: 0.8rem; margin-left: 1em;
                        font-weight: bold;   
                         color: #fff;
                        background-color: #0d6efd;
                        border-color: #0d6efd;
                        &:hover {
                            background-color: #0065fd;
                        }
                    }
                }
            }

        } // user-chatbot

        .user-time {
            width: 100%; min-height: 60px; margin-bottom: 1rem;
            h5 {
                font-size: 1.2em; font-weight: bold; padding-bottom: 1rem;
            }
            .input-box {
                display: flex; height: 24px; width: 60%; height: 100%;
                @media screen and (max-width: 600px) { 
                    width: 90%
                }

                .box {
                    width: 50%; margin-right: 2%; display: flex;
                    input { 
                        width: 80%; padding-left: 0.5em; box-sizing: content-box;
                        border: 1px solid #000; border-radius: 3px;
                    }
                    button { 
                        width: 20%;
                        border: 1px solid #000;  border-radius: 3px;
                        font-size: 0.8rem; margin-left: 1em;
                        font-weight: bold;   
                         color: #fff;
                        background-color: #0d6efd;
                        border-color: #0d6efd;
                        &:hover {
                            background-color: #0065fd;
                        }
                    }
                }
            }
           
        } // user-time
        
        .user-chennel {
            width: 100%; min-height: 60px; margin-bottom: 1rem;
            h5 {
                font-size: 1.2em; font-weight: bold; padding-bottom: 1rem;
            }
            .input-box {
                display: flex; height: 24px; width: 60%; height: 100%;
                @media screen and (max-width: 600px) { 
                    width: 90%
                }

                .box {
                    width: 50%; margin-right: 2%; display: flex;
                    input { 
                        width: 80%; padding-left: 0.5em; box-sizing: content-box;
                        border: 1px solid #000; border-radius: 3px;
                    }
                    button { 
                        width: 20%;
                        border: 1px solid #000;  border-radius: 3px;
                        font-size: 0.8rem; margin-left: 1em;
                        font-weight: bold;   
                         color: #fff;
                        background-color: #0d6efd;
                        border-color: #0d6efd;
                        &:hover {
                            background-color: #0065fd;
                        }
                    }
                }
            }

            .add-list {
                width: 100%; min-height: 30px; margin-top: 15px;

             
                span {
                    font-size: 14px; display: block;
                    button {
                        color: #0d6efd;
                    }
                }
            }

        } // user-chennel 

        .register {  
            
            width: 60%; 
            height: 30px; font-size: 14px; color: #fff; line-height: 30px; background-color: #0d6efd;
            border-color: #0d6efd; text-align: center; font-weight: bold; cursor: pointer;
 
            &:hover {
                background-color: #0065fd;
            }
        } // register
        
}